img{
    width: 25%;
}

ul{
    text-align: center;
    list-style-type: none;
}

a{
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
    background: #006400;
    color: white;
    border: 1px #000000 solid;
}

a:hover{
    background: #0000FF;
}

p{
    text-align: justify;
    font-family: Verdana;
    text-indent: 5%;
}

h2{
    font-family: Verdana;
    font-size: 30px;
    color: #FFFFFF;
    background: #2E8B57;
    text-align: center;
}

h3{
    font-family: Verdana;
    font-size: 25px;
    color: #2E8B57;
    border-bottom: 2px #000000 solid;
}